/*universal*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

/*element*/
p {
    background-color: lightgray;
}

/*class*/
.special {
    background-color: lightskyblue;
}

/*combine classes*/
.middle.special {
    font-weight: bold;
}

/*id*/
#first-section {
    color: magenta;
}

/*sections with a class*/
section.special {
    background-color: midnightblue;
}

/*looking for elements with specific attribute*/
img[alt] {
    background-color: orange;
}

/*find li's who's elements id is product-list*/
#product-list li {
    font-style: italic;
}

/*find li's who are immediate children of an element
 whose id is product-list*/
#product-list > li {
    font-weight: bold;
}

/*ul are children are somewhere underneath an element of ul*/
#product-list ul > li {
    font-weight: bold;
}

/*immediate/adjacent sibling*/
li + li {
    border: 1px solid purple;
}

/*section:hover {
    background-color: lime;
}*/

#product-list:first-child {
    background-color: lime;
}

#product-list section:nth-child(even){
    background-color: maroon;
}

/*1 id in 1 class*/
#first-caption.caption {
    background-color: navy;
}

.caption {
    background-color: hotpink;
}

h2 {
    background-color: gray !important;
}
